<div class="container">
  <h1>List of Dealers</h1>

  <table class="table table-striped" style="margin-top: 30px;">
    <thead>
      <tr>
        <th>Dealer Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Name of agency</th>
        <th>Username</th>
        <th>Password</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Email-Id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dealer of Dealers">
        <td>{{dealer.Dname}}</td>
        <td>{{dealer.Daddress}}</td>
        <td>{{dealer.Dphone}}</td>
        <td>{{dealer.Agency_name}}</td>
        <td>{{dealer.Dusername}}</td>
        <td>{{dealer.Dpassword}}</td>
        <td>{{dealer.Age}}</td>
        <td>{{dealer.Gender}}</td>
        <td>{{dealer.Demail}}</td>
        <td>
          <button (click)="onDetails(dealer)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
          <button (click)="onDelete(dealer)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
          <button (click)="onUpdate(dealer)" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-edit"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
