<!-- <app-add-product></app-add-product> -->
<!-- <app-root></app-root> -->
<!-- <h1>Welcome</h1> -->
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">HomePage</a> -->
        </div>
          

        <div class="collapse navbar-collapse col-sm-9" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- <li><a routerLink="/app-login">Home</a></li> -->
            <li><a routerLink="/product-list">Product list</a></li>
            <li><a routerLink="/add-product">Add Product</a></li>
            <!-- <li><a routerLink="/update-product">Update product</a></li> -->
            <li><a routerLink="/milk-rate-list">Milk rate</a></li>
            <li><a routerLink="/add-milk-rate">Add Milk rate</a></li>
            <li><a routerLink="/customer-list">Customer list</a></li>
            <li><a routerLink="/add-customer">Add customer</a></li>
            <li><a routerLink="/dealer-list">Dealer list</a></li>
            <li><a routerLink="/add-dealer">Add dealer</a></li>
            <li><a routerLink="/staff-list">Staff list</a></li>
            <li><a routerLink="/add-staff">Add staff</a></li>
            <li><a routerLink="/feedback-list">Feedback list</a></li>
            <!-- <li><a routerLink="/login">Login</a></li> -->
            
          </ul>
        </div>
    </div>
  </nav>
  <!-- <div >
    <ul class="sidebar-nav col-sm-3" style="margin-top: 50px;">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/product-list">Product list</a></li>
      <li><a routerLink="/add-product">Add Product</a></li>
      <li><a routerLink="/update-product">Update product</a></li> 
      <li><a routerLink="/milk-rate-list">Milk rate</a></li>
      <li><a routerLink="/add-milk-rate">Add Milk rate</a></li>
      <li><a routerLink="/customer-list">Customer list</a></li>
      <li><a routerLink="/add-customer">Add customer</a></li>
      <li><a routerLink="/dealer-list">Dealer list</a></li>
      <li><a routerLink="/add-dealer">Add dealer</a></li>
      <li><a routerLink="/staff-list">Staff list</a></li>
      <li><a routerLink="/add-staff">Add staff</a></li>
      <li><a routerLink="/feedback-list">Feedback list</a></li>
      
    </ul>
</div> -->
  <router-outlet></router-outlet>
  

     


