<div class="container">
  <h1>Update Product</h1>
  <h1>{{selectedProduct.Pname}}</h1>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Product name</label>
        <input [(ngModel)]="selectedProduct.Pname" type="text" class="form-control" >
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Rate</label>
        <input [(ngModel)]="selectedProduct.Prate" type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Category</label>
        <input [(ngModel)]="selectedProduct.Pcategory" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Quantity</label>
        <input [(ngModel)]="selectedProduct.PQuantity" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Image</label>
        <input [(ngModel)]="selectedProduct.Pthumbnail" type="file" class="form-control">
        <!-- Attachment <input type="file" multiple> -->
      </div>
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-12">
      <button (click)="onUpdate()" class="btn btn-success">Update</button>
      <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
    </div>
  </div>
</div>
