<div class="container">
  <div style="text-align:center">
    <h2>Feedback</h2>
    
  </div>
  <div class="row">
    <div class="column">
      <img src="assets/images/person.jpg" style="width:100%">
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">Full Name</label>
        <input type="text" id="fname" name="fullname" placeholder="Your full name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="add">Address</label>
        <input type="text" id="add" name="address" placeholder="Address..">
        <label for="tal">Taluka</label>
        <input type="text" id="tal" name="taluka" placeholder="Your sub-district..">
        <label for="dist">District</label>
        <input type="text" id="dist" name="district" placeholder="Your district..">
        <label for="mob">Mobile no</label>
        <input type="text" id="mob" name="mobile" placeholder="Your mobile number..">
        <label for="email">Email Id</label>
        <input type="text" id="email" name="emailid" placeholder="Your email id..">


        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="india">India</option>
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
        <label for="subject">Feedback</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
<div class="zoom"></div>