<!-- <div class="container">
  <h1>Products Details</h1>

  <table class="table table-striped" style="margin-top: 30px;">
    <thead>
      <tr>
        <th>Name </th>
        <th>Price (₹)</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of Products">
        <td>{{product.Pname}}</td>
        <td>{{product.Prate}}</td>
        <td>{{product.Pcategory}}</td>
        <td>{{product.PQuantity}}</td>

        <td>
          <button (click)="onDetails(product)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
          <button (click)="onDelete(product)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
          <button (click)="onUpdate(product)" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-edit"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->


<div class="container">
  <h1>{{selectedProduct.Pname}}</h1>

  
  <div class="col-md-6">
    <div class="form-group">
      <div><img src="assets/images/{{selectedProduct.Pthumbnail}}" alt="image" class="img-rounded" height="250px" width="250px"></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <div style="margin-top: 30px;"><strong>Price: </strong> {{selectedProduct.Prate}}</div>
      <div><strong>Category: </strong> {{selectedProduct.Pcategory}}</div>
      <div><strong>Quantity: </strong> {{selectedProduct.PQuantity}}</div>
    </div>
  </div>
</div>