<div class="container">
    <h1>List of Customers</h1>
  
    <table class="table table-striped" style="margin-top: 30px;">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Pin</th>
          <th>Phone</th>
          <th>Username</th>
          <th>Password</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of Customer">
          <td><img src="assets/images/{{customer.Cthumbnail}}" alt="image" class="img-circle" height="70px" width="70px"></td>
          <td>{{customer.Cname}}</td>
          <td>{{customer.Cemail}}</td>
          <td>{{customer.Carea}}</td>
          <td>{{customer.Pin}}</td>
          <td>{{customer.Phone}}</td>
          <td>{{customer.Cusername}}</td>
          <td>{{customer.Cpassword}}</td>
          <td>{{customer.Cgender}}</td>
  
          <td>
            <button (click)="onDetails(customer)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
            <button (click)="onDelete(customer)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
            <button (click)="onUpdate(customer)" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-edit"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>