

<div class="container">
  <h1>{{selectedCustomer.Cname}}</h1>

  
  <div class="col-md-6">
    <div class="form-group">
      <div><img src="assets/images/{{selectedCustomer.Cthumbnail}}" alt="image" class="img-rounded" height="250px" width="250px"></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <div style="margin-top: 30px;"><strong>Address: </strong> {{selectedCustomer.Carea}}</div>
      <div><strong>Pincode: </strong> {{selectedCustomer.Pin}}</div>
      <div><strong>Phone: </strong> {{selectedCustomer.Phone}}</div>
      <div><strong>Email-Id: </strong> {{selectedCustomer.Cemail}}</div>
      <div><strong>Username: </strong> {{selectedCustomer.Cusername}}</div>
      <div><strong>Password: </strong> {{selectedCustomer.Cpassword}}</div>
      <div><strong>Gender: </strong> {{selectedCustomer.Cgender}}</div>

    </div>
  </div>
</div>