<div class="container" style="background-image: url('assets/images/butter.jpg'); background-size: 100% 100% ">
  <h1>Products</h1>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price (₹)</th>
        <th>Category</th>
        <th>Quantity</th>
        
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of Products">
        <td><img src="assets/images/{{product.Pthumbnail}}" alt="image" class="img-circle" height="70px" width="70px"></td>
        <td>{{product.Pname}}</td>
        <td>{{product.Prate}}</td>
        <td>{{product.Pcategory}}</td>
        <td>{{product.PQuantity}}</td>
        

        <td>
          <button (click)="onDetails(product)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
          <button (click)="onDelete(product)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
          <button (click)="onUpdate(product)" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-edit"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>