<div class="container">
  <h1>Milk Rate Chart</h1>

  <table class="table table-striped" style="margin-top: 30px;">
    <thead>
      <tr>
        <th>Fat </th>
        <th>Buffalo (₹)</th>
        <th>Cow (₹)</th>
        <th>Last updated on</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let milkrate of Milk_rate">
        <td>{{milkrate.Fat}}</td>
        <td>{{milkrate.Buffalo}}</td>
        <td>{{milkrate.Cow}}</td>
        <td>{{milkrate.Updated_on}}</td>

        <td>        
          <button (click)="onDeleteMilkRate(milkrate)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
          <button (click)="onUpdate(milkrate)" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-edit"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>