<div class="container">
  <h1>List of Staff</h1>

  <table class="table table-striped" style="margin-top: 30px;">
    <thead>
      <tr>
        <th>Name </th>
        <th>Address</th>
        <th>Email</th>
        <th>Dept Id</th>
        <th>Job Role</th>
        <th>Salary (₹)</th>
        <th>Username</th>
        <th>Password</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Phone No</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of Staff">
        <td>{{staff.Sname}}</td>
        <td>{{staff.Saddress}}</td>
        <td>{{staff.Semail}}</td>
        <td>{{staff.DeptId}}</td>
        <td>{{staff.Srole}}</td>
        <td>{{staff.Srole}}</td>
        <td>{{staff.Susername}}</td>
        <td>{{staff.Spassword}}</td>
        <td>{{staff.Sgender}}</td>
        <td>{{staff.Sage}}</td>
        <td>{{staff.Sphone}}</td>

        <td>
          <button (click)="onDetails(staff)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
          <button (click)="onDelete(staff)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
          <button (click)="onUpdate(staff)" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-edit"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
